#controls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
 
.checkbox-toggle {
    position: relative;
    cursor: pointer; 
    width: 40px;
    height: 40px;
    opacity: 1;
    background: #fff;

    &:checked{
        border: 2px solid black;
    }
}

#backgroundColor-input-solid2{
    background: black;

    &:checked{
        border: 2px solid white;
    }
}

#backgroundColor-input-solid-trans{
    background: transparent;
    border: 2px solid black;
}