.wrapper{
    max-height: 100vh;
    padding: 20px 80px 80px;

    @include breakpoint('<=medium'){ 
        padding: 40px 30px 30px;
    }

    @include breakpoint('<=small'){
        padding: 20px 5px 5px;
    } 
}