.wrapper{
    max-height: 100vh;
    padding: 20px 80px 80px;

    @include breakpoint('<=medium'){ 
        padding: 40px 50px 50px;
    }

    @include breakpoint('<=small'){
        padding: 20px 30px 30px;
    }
}